<h1>Create your own Tamagotchi</h1>

<form action="/tamagotchi/all" method="post">
  <label for="name">Name your Tamagotchi</label>
  <input type="text" name="name">
  <select class="animal" name="animal">
    <option value="Dog">Dog</option>
    <option value="Cat">Cat</option>
    <option value="Bird">Bird</option>
    <option value="Fish">Fish</option>
    <option value="Ferret">Ferret</option>
  </select>
  <button type="submit" name="create">Create your Tamagotchi!</button>
</form>

<a href="/">Home</a>
<a href="/tamagotchi/all">Check on your Tamagotchi</a>
